/* 
F5DEB3 wheat
E94F37 cinnabar
69585F wenge
DE6B48 burnt sienna
6B8F71 reseda green 
*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5DEB3;
    text-align: center;
}

h1 {
    background-color: #de6b4871;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

button {
    background-color: #6b8f718e;
    padding: 50px;
    border-radius: 20px;
    border: none;
    margin: 50px;
    font-weight: bold;
}


