@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #6B8F71;
}

div#principal {
    margin: auto;
    margin-top: 50px;
    background-color: #F5DEB3;
    width: 400px;
    border-radius: 20px;
    padding: 40px;
}

h1, h2 {
   color: black; 
   border-radius: 20px;
   text-align: center;
}

h1 {
    font-weight: bold;
    background-color: #e94f37be;
    padding: 20px;
}

h2 {
    background-color: #de6b488c;   
    padding: 10px;
}