@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #F5DEB3;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    color: #69585F;
    padding: 50px;
}

button {
    padding: 50px;
    background-color: #6b8f71a5;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

#resultado {
    padding: 50px;
}